{% extends 'veiculos/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Veiculos Cadastrados:</h1>
         
    <table class="table table-bordered table_striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>marca</th>
            <th>valor</th>
            </tr>
            {% for veiculo in veiculos %}
            <tr>
            <td>{{veiculo.id_veiculo}}</td>
                <td>{{veiculo.nome}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.valor}}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}